<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1><b>Klinische trials keuzehulp</b></h1>
      <h2 class="project-tagline">keuzehulp voor patienten</h2>
      <a href="./" class="btn">Welkom</a>
      <a href="./klinischetrials.html" class="btn">Klinische trials</a>
      <a href="./deelnemen.html" class="btn">Deelnemen</a>
      <a href="./beslismoment.html" class="btn">Beslismoment</a>
      <a href="./wat-betekent-deelname-voor-mij.html" class="btn">Wat betekend deelname voor mij?</a>
      <a href="./klinische-trials-maastro.html" class="btn">klinische trials Maastro</a>
      <a href="./goed-geinformeerd-kiezen.html" class="btn">Goed geïnformeerd kiezen</a>
      <a href="./wat-is-belangrijk-voor-mij.html" class="btn"></a>Wat is belangrijk voor mij?</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <!--<span class="site-footer-owner">--> ProTRAIT is maintained by the Clinical Data Science Group at Maastricht University (NL).<!--</span>-->
      </footer>
    </main>
  </body>
</html>
